<?xml version="1.0"?>
<!--
/**
 * @package     Plumrocket_ModuleUiFixMagento247
 * @copyright   Copyright (c) 2024 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Plumrocket_ModuleUiFixMagento247">
        <sequence>
            <module name="Magento_Ui"/>
        </sequence>
    </module>
</config>
